{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid" id="logout">
    <div class="logout">
        <div>
            <p class="fs-5 text-color fst-italic">{% blocktrans %}Would you like to log out at <span class="fs-2">St.
                    Benedict's</span>{% endblocktrans %}</p>
            <hr class=" w-75 mx-auto text-color">
            <p class="text-color">{% trans "Please click the button below to continue." %}</p>
            <!-- Button trigger modal -->
            <button type="button" id="logout-bg" class="rounded border border-light p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                {% trans 'Log out' %}
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header " id="logout-bg">
                            <h5 class="modal-title" id="exampleModalLabel">{% trans 'Log Out' %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans 'Are you sure you want to log out?' %}</p>
                        </div>
                        <div class="modal-footer">   
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn bg-secondary text-white rounded px-2" type="submit">{% trans 'Log out' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}