{% extends "base.html" %}
{% load static %}

{% block title %}Our story{% endblock title %}



{% block content %}
<h1>About Us</h1>
<div class="container-fluid bg-light" id="history-container">
    <div class="story ">
        <p class="fs-5 text-color fst-italic">Our story at <span class="fs-2">St. Benedict's</span></p>
        <hr class=" w-75 mx-auto text-color">
        <h1 class="fs-1 text-color fw-bold">History</h1>
    </div>

    <div class="card mb-3 " style="max-width: 400px;" id="story-p">
        <div class="row gx-5 ">
            <div class="col-md-4 ">
                <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675506088/uncle_s_photo_z1apti.jpg"
                    class="img-fluid rounded-circle " alt="priest">
            </div>
            <div class="col-md-8 gx-5 mt-2 " id="story-p-bg">
                <div class="card-body ">
                    <h2 class="card-title ">Our Story beginnings</h2>
                    <p class="card-text  rounded col-md-8 ">St.Benedict's Garden of life is a 2.2 acres of land
                        enshrouded in
                        forest
                        greenery at the slopes of the lofty Mt. Malindang in Mindanao providing a majestic view of the
                        sorrrounding towns. It is located in the town of Bonifacio in the village of Sito Migsali,
                        Misamis Occidental, Philippines</p>
                    <p class=" col-md-8 ">It was founded by Fr. Vicente 'Inting' Mandaya in the year 1998. It took him
                        years to develop the
                        shrine and faces loads of challenges along the way.
                        With his resiliency and his dedication to serve God and the people in his ministry, He withstood
                        them all and continued developing the St.Benedict's Garden of life.
                    </p>
                    <div class=" col-md-8 card ">
                        <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675602095/pointing_at_the_shrine_ygk3c7.jpg"
                            alt="pointing at the shrine" class="img-fluid ">
                    </div>
                    <br>
                    <p class="col-md-8 ">
                        The background of the image above where Fr. Inting is pointing at is where the St. Benedict is
                        being develop in the early years when it was founded.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>    
    {% endblock content %}