{% extends "base.html" %}
{% load static %}

{% block title %}Our story{% endblock title %}



{% block content %}
<h1>About Us</h1>
<div class="container-fluid bg-light" id="history-container">
    <div class="story ">
        <p class="fs-5 text-color fst-italic">Our story at <span class="fs-2">St. Benedict's</span></p>
        <hr class=" w-75 mx-auto text-color">
        <h1 class="fs-1 text-color fw-bold">History</h1>
    </div>

    <div class="card mb-3 " style="max-width: 400px;" id="story-p">
        <div class="row gx-5 ">
            <div class="col-md-4 mt-4 ">
                <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675506088/uncle_s_photo_z1apti.jpg"
                    class="img-fluid rounded-circle " alt="priest">
            </div>
            <div class="col-md-6 gx-5 mt-2 container " id="story-p-bg" style="height: auto;">
                <div class="card-body ">
                    <h2 class="card-title">Our Story beginnings</h2>
                    <p class="card-text  ">St.Benedict's Garden of life is a 2.2 acres of land
                        enshrouded in
                        forest
                        greenery at the slopes of the lofty Mt. Malindang in Mindanao providing a majestic view of the
                        sorrrounding towns. It is located in the town of Bonifacio in the village of Sito Migsale,
                        Misamis Occidental, Philippines</p>
                    <p >It was founded by Fr. Vicente 'Inting' Mandaya sometimes in August year 1998
                        and started farming fruit tress and root crops. In the month of January 1999
                        bought the present location of the shrine and slowly the cogon grassy hill was transform into a
                        forest and a prayer garden. Hardwork and dedication with the help of some relatives, friends,
                        diehard supporters especially Mrs Balbina Silada Regidor and family, Mrs Angelina Santos and
                        family and Mrs Arbing Taclob and family.</p>
                    <p > It took him years to develop the
                        shrine and faces loads of challenges along the way.
                        With his resiliency and his dedication to serve God and the people in his ministry, He withstood
                        them all and continued developing the St.Benedict's Garden of life.
                    </p>
                    <div class="col-md-12">
                        <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675715656/old_shrine_bd2rla.jpg"
                            alt="old shrine" style="height: 400px; width: 700px; " class="img-fluid  rounded">
                    </div>
                    <p class="mt-2">Above image is the Divine Mercy Shrine, the first simple structure built that you can still see
                        around the St. Benedict's Garden today.
                        It was blessed on June 13 during the feast of St. Anthony de Padua in 2001 in hte presence of
                        the late Rev. Narciso Dumalagan, A UCCP Pastor.
                        The Chapel was named after St. Anthony de Padua and the whole area is named after St. Benedict
                        the father of Western Monastisicism.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}