{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--Google fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
  <!--Bootstrap CSS CDN-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <title>{% block title %}St Benedict's Garden of Life{% endblock title%}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light nav-bg p-3 fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-5 fs-1" href="{% url 'index.html' %}">St Benedict's Garden of life<i
          class="fa-solid fa-hands-praying m-2 "></i></a>
      <button class="navbar-toggler  border-dark" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="{% url 'index.html' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'gallery.html' %}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'our_story.html' %}">Our Story</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="{% url 'services.html' %}" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'services.html' %}">Station of the Cross</a></li>
              <li><a class="dropdown-item" href="{% url 'services.html' %}#recollection-section">Recollection</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Mountain Trail Walk</a></li>
            </ul>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success  m-1 ms-0 " id="login-bd" type="submit">Sign Up</button>
          <button class="btn btn-outline-success  m-1 " id="login-bd" type="submit">Login</button>
        </form>
      </div>
    </div>
  </nav>

  {% block content %}
  <!--content goes here-->
  {% endblock %}


  <footer class="container-fluid p-2" id="footer-bg">
    <div class=" m-4 d-flex justify-content-center fs-6 fs-5 fs-4">
      <div>
        <p>St Benedict's Garden of Life ©</p>
      </div>
      <div>
        <ul class="me-4">
          <!--Need to change the links-->
          <li class="list-inline-item "><a href="https://www.facebook.com/StBenedictsGardenOfLife" target="_blank"
              rel="noopener"><i class="fab fa-facebook "></i></a></li>
          <li class="list-inline-item"><a href="https://youtu.be/p4Fa6WfNHSA" target="_blank" rel="noopener">
              <i class="fab fa-youtube-square text-danger"></i></a></li>
        </ul>
      </div>
      <div>
        <p>Design by Marlon Mandaya</p>
      </div>
    </div>
  </footer>

  <!--fontawesome kit-->
  <script src="https://kit.fontawesome.com/0969cca03a.js" crossorigin="anonymous"></script>
  <!--Bootstrap js CDN-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>