{% extends "base.html" %}


{% block content %}


{% load crispy_forms_tags  %}

<div class="  container " style="margin-top:140px;">
    <div class=" row mt-4">
        <div class="col-lg-12 text-center mt-4">
            <h3 class="page-heading text-color">Create a Booking</h3>
            <hr class=" w-100 mx-auto mt-2 text-color mb-4">
            <!-- Container for the error message if a double booking is made. -->
            <h6 class="double-booking">{{ error }}</h6>
            <!-- The booking form can be found in the booking app in forms.py. -->
            <form method="POST" action="{% url 'booking' %}" class=" mb-4  w-75 mx-auto">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="rounded border border-white mt-4" id="request-bg" value="Post">Submit a
                    Booking</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}