{% extends "base.html" %}


{% block content %}


{% load crispy_forms_tags  %}

<div class="container mb-3" style="margin-top:200px;">
    <div class=" row">
        <div class="col-lg-12 text-center">
            <h3 class="page-heading text-color">Create a Booking</h3>
            <hr class=" w-75 mx-auto mt-2 text-color mb-4">
            <!-- Container for the error message if a double booking is made. -->
            <h6 class="double-booking">{{ error }}</h6>
            <!-- The booking form can be found in the booking app in forms.py. -->
            <form method="POST" action="{% url 'booking' %}" class="container  mb-4">
                {{ booking_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="rounded border border-white" id="request-bg" value="Post">Request a Booking</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}