{% extends "base.html" %}
{% load static %}

{% block title %}St. Benedict's Gallery {% endblock title %}



{% block content %}
<div class="container-fluid bg-light" id="gallery-container">
  <div class="gallery">
    <p class="fs-5 text-color fst-italic">Have a look at <span class="fs-2">St. Benedict's</span></p>
    <hr class=" w-75 mx-auto text-color">
    <h1 class="fs-1 text-color fw-bold">Gallery</h1>
  </div>
  <div class="row ">
    <div id="images">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720131/uncle_and_the_community_pnovoh.jpg" alt="community picture in front of the shrine"> 
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720246/Virgin_Mary_Background_txwzov.jpg" alt="Virgin Mary in the background">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720169/pinot_and_cita_tgntnb.jpg" alt="mini-chapel"> 
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720185/mama_mary_background_vaxggx.jpg" alt="photo taking in front of Mary">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675384286/sto_nino_hsbe0w.jpg" alt="sto nino">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927188/station_of_the_cross1_vqbljr.jpg" alt="station of the cross">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927311/family_phots_infront_of_Virgin_Mary_kwk7vn.jpg" alt="Virgin Mary in the background">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927222/retreat_nbmdva.jpg" alt="group of people">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675382724/sto_nino_with_flowers_bg_ggx5wm.jpg" alt="sto. nino ">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927208/station_of_the_cross-under_trees_efhqww.jpg" alt="stationof the cross">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927169/nuns_in_front_of_the_cross_vmiaim.jpg" alt="nuns praing in front of the cross">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927325/received_707299553626413_wrrtq1.jpg" alt="">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675382711/mini_chapel_elnubn.jpg" alt="mini chapel">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674760031/FB_IMG_1651764574040_1_jgw1dz.jpg" alt="shrine view">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674763544/shrine_photo_rgvwr2.jpg" alt="shrine">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675459560/rocks_with_a_cross_behind_dfpu8j.jpg" alt="rocks with a cross in the background">
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675459549/river_mmugtc.jpg" alt="flowing river"> 
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675461970/station_of_the_cross3_t6x5kv.jpg" alt="station of the cross">      
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675461949/shrine_view_pyoair.jpg" alt="shrine view">  
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720204/shrine_overlooking_view_ifh1iv.jpg" alt="shrine overlooking view">   
      <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675720218/vIrgin_mary_with_ladies_n_umbrellas_w4vi1d.jpg" alt="three ladies with umbrella"> 
    </div>       
  </div>
</div>

{% endblock content %}