{% extends "base.html" %}
{% load static %}

{% block title %}St Benedict{% endblock title %}

{% block content %}
<header>
  <div class="container-fluid hero">
    <div >
      <h1 class="text-white card-title">Welcome To St. Benedict's Garden Of Life</h1>
      <p class="text-dark fs-6 fs-4 bg-white rounded p-2">Where your Body, Soul and Mind gets revitalised.</p>
      <!--Needs  a link for the booking-->
      <button class="border border -secondary p-2 rounded w-25 fs-6 fs-4">Book Now</button>
    </div>
  </div>
</header>
<br>
<section class="container-fluid">
  <div class="card mb-3 " style="max-width: 400px;">
    <div class="row gx-5 ">
        <div class="col-md-4">
          <iframe></iframe>
        </div>
        <div class="col-md-8 gx-5 " id="story-p-bg">
            <div class="card-body">
                <p class="card-title">Adress:</p>
                <p class="card-text">Sitio Migsale, Barangay Maporog, Bonifacio, Misamis Occidental</p>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}