{% extends "base.html" %}
{% load static %}

{% block title %}Our story{% endblock title %}



{% block content %}

<div class="container-fluid bg-light" id="history-container">
    <div class="story ">
        <p class="fs-5 text-color fst-italic">Our story at <span class="fs-2">St. Benedict's</span></p>
        <hr class=" w-75 mx-auto text-color">
        <h1 class="fs-1 text-color fw-bold">History</h1>
    </div>
</div>
<section class="section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img alt="Priest" class="img-fluid rounded-circle"
                        src="https://res.cloudinary.com/da80v7xri/image/upload/v1675506088/uncle_s_photo_z1apti.jpg" />
                </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <h2 class="text-center ">Our Story beginnings</h2>
                    <p>St.Benedict's Garden of life is a 2.2 acres of land enshrouded in forest
                        greenery at the slopes of the lofty Mt. Malindang in Mindanao providing a majestic view of the
                        sorrrounding towns. It is located in the town of Bonifacio in the village of Sitio Migsale,
                        Misamis Occidental, Philippines</p>
                    <p>It was founded by Fr. Vicente 'Inting' Mandaya sometimes in August year 1998
                        and started farming fruit tress and root crops. In the month of January 1999
                        bought the present location of the shrine and slowly the cogon grassy hill was transform into a
                        forest and a prayer garden. Hardwork and dedication with the help of some relatives, friends,
                        diehard supporters especially Mrs Balbina Silada Regidor and family, Mrs Angelina Santos and
                        family and Mrs Arbing Taclob and family.</p>
                    <p> It took him years to develop the shrine and faces loads of challenges along the way.
                        With his resiliency and his dedication to serve God and the people in his ministry, He withstood
                        them all and continued developing the St.Benedict's Garden of life.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section mt-1 bg-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div>
                    <p>
                        The Divine Mercy Shrine is the first simple structure built that you can still see around the
                        St. Benedict's Garden today.
                        It was blessed on June 13 during the feast of St. Anthony de Padua in 2001 in the presence of
                        the late Rev. Narciso Dumalagan, A UCCP Pastor.
                        The Chapel was named after St. Anthony de Padua and the whole area is named after St. Benedict
                        the father of Western Monastisicism.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-4 ">
                <div>
                    <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1675715656/old_shrine_bd2rla.jpg"
                        alt="old shrine" class="img-fluid  rounded-circle">
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}