{% extends "base.html" %}
{% load static %}

{% block title %}Services{% endblock title %}



{% block content %}
<div class="container-fluid bg-light" id="services-container">
    <div class="gallery">
        <p class="fs-5 text-color fst-italic">Have a look at <span class="fs-2">St. Benedict's</span></p>
        <hr class=" w-75 mx-auto text-color">
        <h1 class="fs-1 text-color fw-bold">Services</h1>
    </div>
    <div class="container-fluid" id="container-bg">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Station of the Cross</h2>
                        <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927169/nuns_in_front_of_the_cross_vmiaim.jpg"
                            class="img-fluid  w-100 rounded " alt="nuns in front of the station of the cross">
                        <p class="card-text"> Additional content here for services.</p>
                        <a href="#" class="btn btn-primary">Book now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 " id="recollection-section">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Recollection</h2>
                        <img src="https://res.cloudinary.com/da80v7xri/image/upload/v1674927325/received_707299553626413_wrrtq1.jpg"
                            class="img-fluid  w-100 rounded" alt="group of people ">
                        <p class="card-text"> Additional content here for services.</p>
                        <a href="#" class="btn btn-primary">Book now</a>
                    </div>
                </div>
                <!--this is a guide only-->
                <h3>for more information, please contact us:</h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}